.container {
  width: 100%;
  padding-inline: 1.5rem;
  background: linear-gradient(
    to right,
    var(--bg-primary),
    var(--bg-secondary2),
    var(--bg-primary)
  );

  border-block: 1px solid color-mix(in srgb, white, transparent 95%);
}

.container > div {
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.text_container {
  gap: 0.5rem;
  text-align: center;
}

.container > div,
.text_container {
  display: flex;
  flex-direction: column;
}

.text_container > h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;

  font-weight: 600;

  color: color-mix(in srgb, var(--text-primary), transparent 10%);
}

.text_container > h4 span {
  color: #fbbf24;
  font-weight: 700;
}

.text_container > p {
  font-size: 0.875rem;
  line-height: 1.25rem;

  color: color-mix(in srgb, var(--text-primary), transparent 40%);
  max-width: 1/2;
}

.cta_group {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

@media (min-width: 768px) {
  .container {
    padding-block: 2rem;
  }
  .container > div {
    flex-direction: row;
    align-items: center;
  }
  .text_container {
    text-align: left;
  }
  .text_container > h4 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
