.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}

.p-2 {
  padding: 8px;
}
.p-4 {
  padding: 16px;
}
.m-2 {
  margin: 8px;
}

.text-xs {
  font-size: 12px;
}
.text-sm {
  font-size: 14px;
}

.gap-2 {
  gap: 8px;
}
.gap-4 {
  gap: 16px;
}

.rounded-full {
  border-radius: var(--radius-full);
}
.rounded-sm {
  border-radius: var(--radius-sm);
}
.rounded-md {
  border-radius: var(--radius-md);
}
.rounded-lg {
  border-radius: var(--radius-lg);
}
.rounded-none {
  border-radius: 0px;
}

.w-5 {
  width: 1.25rem;
}
.h-5 {
  height: 1.25rem;
}
